{% extends 'layout.html' %} {% block content %}
<div class="flex justify-center py-10">
  <div class="w-full max-w-lg bg-white p-8 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold text-center text-primary mb-8">
      Mise en Adoption
    </h2>

    {% if error_message %}
    <div
      id="error-popup"
      class="fixed top-12 left-1/2 transform -translate-x-1/2 bg-red-500 text-white px-3 py-2 rounded shadow-lg z-50 transition-opacity duration-300 flex items-center justify-center space-x-2"
    >
      <!-- Message d'erreur -->
      <span>{{ error_message }}</span>
    </div>
    {% endif %}

    <form method="POST" id="adoptionForm">
      <!-- Nom de l'animal -->
      <div class="mb-2 relative">
        <input
          type="text"
          name="nom"
          id="nom"
          class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="Nom de l'animal"
          value="{{nom}}"
          required
        />
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
        >
          <i class="fas fa-paw"></i>
        </span>
      </div>
      <div class="mb-2 relative">
        <p class="text-red-500 text-sm mt-1 hidden" id="error-nom"></p>
      </div>

      <!-- Âge de l'animal -->
      <div class="mb-2 relative">
        <input
          type="number"
          name="age"
          id="age"
          class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="Âge de l'animal (en années)"
          value="{{age}}"
          required
        />
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
        >
          <i class="fas fa-calendar-alt"></i>
        </span>
      </div>
      <div class="mb-2 relative">
        <p class="text-red-500 text-sm mt-1 hidden" id="error-age"></p>
      </div>

      <!-- Espèce -->
      <div class="mb-2 relative">
        <input
          type="text"
          name="espece"
          id="espece"
          class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="Espèce de l'animal"
          value="{{espece}}"
          required
        />
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
        >
          <i class="fas fa-dog"></i>
        </span>
      </div>
      <div class="mb-2 relative">
        <p class="text-red-500 text-sm mt-1 hidden" id="error-espece"></p>
      </div>

      <!-- Race -->
      <div class="mb-2 relative">
        <input
          type="text"
          name="race"
          id="race"
          class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="Race de l'animal"
          value="{{race}}"
          required
        />
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
        >
          <i class="fas fa-paw"></i>
        </span>
      </div>
      <div class="mb-2 relative">
        <p class="text-red-500 text-sm mt-1 hidden" id="error-race"></p>
      </div>

      <!-- Description -->
      <div class="mb-2 relative">
        <textarea
          name="description"
          id="description"
          rows="1"
          class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
          placeholder="Description de l'animal"
          required
        >
        {{description}}
      </textarea
        >
        <span
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
        >
          <i class="fas fa-align-left"></i>
        </span>
      </div>
      <div class="mb-2 relative">
        <p class="text-red-500 text-sm mt-1 hidden" id="error-description"></p>
      </div>

      <!-- Informations de contact -->
      <div class="grid grid-cols-2 gap-4 mb-2">
        <!-- Courriel -->
        <div class="relative">
          <input
            type="email"
            name="courriel"
            id="courriel"
            class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder="Email"
            value="{{courriel}}"
            required
          />
          <span
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
          >
            <i class="fas fa-envelope"></i>
          </span>
        </div>

        <!-- Adresse -->
        <div class="relative">
          <input
            type="text"
            name="adresse"
            id="adresse"
            class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder="Adresse"
            value="{{adresse}}"
            required
          />
          <span
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
          >
            <i class="fas fa-map-marker-alt"></i>
          </span>
        </div>
      </div>
      <!-- Message erreur courriel addresse-->
      <div class="grid grid-cols-2 gap-4 mb-2">
        <div class="relative">
          <p class="text-red-500 text-sm mt-1 hidden" id="error-courriel"></p>
        </div>
        <div class="relative">
          <p class="text-red-500 text-sm mt-1 hidden" id="error-adresse"></p>
        </div>
      </div>

      <!-- Informations ville cp-->
      <div class="grid grid-cols-2 gap-4 mb-2">
        <!-- Ville -->
        <div class="relative">
          <input
            type="text"
            name="ville"
            id="ville"
            class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder="Ville"
            value="{{ville}}"
            required
          />
          <span
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
          >
            <i class="fas fa-city"></i>
          </span>
        </div>

        <!-- Code Postal -->
        <div class="relative">
          <input
            type="text"
            name="cp"
            id="cp"
            class="w-full p-3 pl-10 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-primary"
            placeholder="Code Postal"
            value="{{cp}}"
            required
          />
          <span
            class="absolute left-3 top-1/2 transform -translate-y-1/2 text-primary"
          >
            <i class="fas fa-code"></i>
          </span>
        </div>
      </div>
      <!-- Message erreur cp-->
      <div class="grid grid-cols-2 gap-4 mb-2">
        <div class="relative"></div>
        <!-- Code Postal -->
        <div class="relative">
          <p class="text-red-500 text-sm mt-1 hidden" id="error-cp">
            Veuillez entrer un code postal valide.
          </p>
        </div>
      </div>

      <!-- Bouton de soumission -->
      <div class="mt-6">
        <button
          type="submit"
          class="w-full bg-primary text-white py-3 rounded-lg hover:bg-primary-dark focus:outline-none transition-all"
        >
          Ajouter l'animal
        </button>
      </div>
    </form>
  </div>
</div>
<script src="../static/js/formValidation.js"></script>
{% endblock %}
