{% extends 'layout.html' %} {% block content %}
<form action="" method="GET" class="flex justify-center mb-6 md:justify-end">
  <div class="flex items-center w-full max-w-sm relative">
    <!-- Icône à l'intérieur du champ -->
    <span class="absolute left-3 text-gray-400">
      <i class="fas fa-search"></i>
    </span>
    <input
      type="text"
      name="q"
      value="{{ query }}"
      placeholder="Rechercher un animal..."
      class="border border-gray-300 rounded-lg p-2 pl-10 flex-grow lg:w-1/3 focus:outline-none focus:ring-2 focus:ring-primary"
    />
    <button
      type="submit"
      class="ml-4 px-4 py-2 bg-accent text-white rounded-lg hover:bg-primary focus:outline-none"
    >
      Rechercher
    </button>
  </div>
</form>

<div class="p-4">
  {% if not animals %}
  <div class="text-center py-4">
    <p class="text-lg font-semibold text-text">
      {% if is_search %} Aucun animal trouvé pour cette recherche. {% else %}
      Aucun animal disponible. {% endif %}
    </p>
  </div>
  {% else %}
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for animal in animals %}
    <div
      id="{{ animal.id }}"
      class="bg-background p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 flex flex-col"
    >
      <div class="text-center">
        <h2 class="text-2xl font-bold text-primary">{{ animal.nom }}</h2>
        <p class="text-lg text-text mt-2">
          <i class="fas fa-birthday-cake text-primary mr-2"></i>{{ animal.age }}
          ans
        </p>
        <p class="text-sm text-secondary mt-1">
          <i class="fas fa-paw text-secondary mr-2"></i>{{ animal.espece }} -
          <i class="fas fa-dog text-secondary mr-2"></i>{{ animal.race }}
        </p>
      </div>
      <div class="mt-4">
        <a
          href="/animal/{{ animal.id }}"
          class="w-full py-2 bg-accent text-white rounded-lg hover:bg-primary focus:outline-none block text-center"
        >
          <i class="fas fa-info-circle mr-2"></i>Voir les détails
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}
