<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="../static/js/tailwind.config.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>ADOPTAPET</title>
  </head>
  <body class="bg-background text-text">
    <!-- Header -->
    <header
      class="flex items-center justify-between p-4 bg-background text-text border-b-2 border-primary shadow-lg"
    >
      <div class="text-3xl font-bold text-primary">
        <a href="/">ADOPTAPET</a>
      </div>
      <div class="space-x-4">
        <!-- Adoption Form Button -->
        <a
          href="/formulaire"
          class="bg-background hover:bg-primary text-text px-4 py-2 rounded-lg border-2 border-primary transition-all duration-300 ease-in-out"
        >
          Mise en adoption
        </a>
      </div>
    </header>

    <!-- Main Content (Dynamique) -->
    <main class="p-6">{% block content %} {% endblock %}</main>
  </body>
</html>
