<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      rel="stylesheet"
    />

    <script src="../static/js/tailwind.config.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />

    <title>ADOPTAPET</title>
  </head>
  <body class="bg-background text-text">
    <header
      class="flex items-center justify-between p-4 bg-background text-text border-b-2 border-primary shadow-lg"
    >
      <div class="text-3xl font-bold text-primary">
        <a href="/">ADOPTAPET</a>
      </div>
      <div class="space-x-4">
        <a
          href="/formulaire"
          class="bg-background hover:text-white hover:bg-primary text-text font-bold px-4 py-2 rounded-lg border-2 border-primary transition-all duration-300 ease-in-out"
        >
          Mise en adoption
        </a>
      </div>
    </header>

    <main class="p-6">{% block content %} {% endblock %}</main>
  </body>
</html>
